<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bill$ Budget App</title>
        <link rel="stylesheet" href="/css/jass.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        
    <div class="navbar">
        <nav>
            
               <h2> Bill$ Budget App</h2>
                {{#if logged_in}} 
                <a class="link" href="/profile">Profile</a>
                <button class="no-button" id="logout">logout</button>
                 {{else}} 
                <a class="link" href="/login">Login</a>
                 {{/if}} 
                   
        </nav>          
    </div>

            <main>
                {{{ body }}}
            </main>
            <footer>
                {{!-- TODO --}}
            </footer>
        

        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>