<div class="total-budget">
    <h2> Your total budget is {{budget.budget_limit}} $ </h2>
</div>


<div class="current-budget">
    <h2> Your remaining budget is {{remaining}} $ </h2>
</div>

{{!-- <div class="add-budget">
    <input class="form-text form-control form-control-sm col-12" placeholder="Enter your budget" name="budget"
        id="addBudget" type="text"></input>
    <button type="button" class="btn btn-success" id="submit"> Add Budget </button>
</div> --}}
<form class="update-budget">
    <div class="form-group col-6">
        <label for="updateBudget"> Your New Budget:</label>
        <input class="form-input" type="text" id="updateBudget" />
        <button type="button" class="btn btn-success" id="submit"> Update Budget </button>
    </div>
</form>

<form class="add-budget">
    <div class="form-group">
        <label for="addBudget"> Your New Budget:</label>
        <input class="form-input" type="text" id="addBudget" />
        <button type="button" class="btn btn-success" id="submit"> Add Budget </button>
    </div>
</form>



<script src="\js\update-budget.js"></script>