<div class="container">
<div class="cost col-12 pt-3 text-center">
  <h2>Current Spending: <b>${{total}} </b></h2>
</div>


<form class="add-cost text-center mx-auto">
  <div class="form-group text-center mx-auto">
    <label for="bill-name">Bill Name:</label>
    <input class="form-input row mt-3 col-sm w-50 mx-auto" type="text" id="bill-name" />
  </div>
  <div class="form-group">
    <label for="bill-amount">Amount:</label>
    <input class="form-input w-50 row mt-3 col-sm mx-auto" type="text" id="bill-amount" />
  </div>
  <div class="form-group text-center">
    <label for="bill-due-date">Due Date:</label>
    <input class="form-input row mt-2 col-sm w-50 mx-auto" type="text" id="bill-due-date" />
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary" type="submit">Add Cost</button>
  </div>
</form>

</div>
<script src="/js/add-cost.js"></script>