{{#each budgetCalendar as |calendar| }}
    <h2>Welcome {{user.name}} To The Bill$ Budget App!</h2>
    <div class="update-budget">
        <p>Update Budget</p>
        {{!-- add button to update budget --}}
    </div>
    <div class="add-purchases">
        <p>Add any purchases</p>
        {{!-- add button to add purchases --}}
    </div>
    <div class="calendar">
        {{!-- Add this to a helper --}}
        {{!-- {{calendar}} --}}
    </div>
{{/each}}