{{!-- {{#each budgetCalendar as |calendar| }} --}}
    <h2>Welcome To The Bill$ Budget App!</h2>
    <div class="update-budget">
       <button class="btn btn-primary" type="submit">Update Budget</button>
        {{!-- add button to update budget --}}
    </div>
    <div class="add-purchases">
        <button class="btn btn-primary" type="submit">Add any purchases</button>
        {{!-- add button to add purchases --}}
    </div>
    <div class="calendar">
        {{!-- Add this to a helper --}}
        {{!-- {{calendar}} --}}
    </div>
{{!-- {{/each}} --}}