<div class="container">
<div class="row text-center">
    <h2>Welcome To The Bill$ Budget App!</h2>
</div>

<div class="update-budget">
    <button id="updateBudget" class="btn btn-primary" type="submit">Update Budget</button>
    {{!-- add button to update budget --}}


<div class="add-purchases">
    <button id="addItem" class="btn btn-primary" type="submit">Add Purchase</button>
</div>
<div id="itemList">
    <p id="item"></p>
</div>
<div id="calendar"></div>
</div>
<script src="/js/item.js"></script>
<script src="/js/budget.js"></script>
<script src="/js/calendar.js"></script>
<script src="/js/main.js"></script>

