
{{!-- {{#each budgetCalendar as |calendar| }} --}}    
    <h2>Welcome To The Bill$ Budget App!</h2>
    <div class="update-budget">
       <button class="btn btn-primary" type="submit">Update Budget</button>
        {{!-- add button to update budget --}}
    </div>
    <div class="add-purchases">
        <button onclick="addItems" id="addItem" class="btn btn-primary" type="submit">Add any purchases</button>
        <p id="item-list">
        {{!-- add button to add purchases --}}
    </div>
    <form id="item-obj">
        <input type="text">
        <p>
        <input type="submit" value="submit">
        </p>
    </form>
    <div id="calendar"></div>
    <script src="/js/add-items.js"></script>
    <script src="/js/calendar.js"></script>
    <script src="/js/main.js"></script>
{{!-- {{/each}} --}}
